*{
    font-family: 'Roboto', sans-serif;
}
.cat-table{
    border: none;
}
.cat-image{
    width: 80px;
}
.update_image {
    border: 2px solid rgb(14, 62, 134);
}
.update_image:hover {
    border: 2px solid rgb(92, 61, 63);
    width: 120px;
    height: 120px;
}
